<form fxLayout="column" fxLayoutGap="20px" [formGroup]="workDaysForm" class="work-days-form">   
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <mat-card fxFlex="100%" class="first-row" >
      <mat-card-subtitle><b>Parametry wejściowe:</b></mat-card-subtitle>
        <mat-card-content fxLayout="row" fxLayoutGap="5px">
        <mat-form-field fxFlex="33%">
          <input required matInput [matDatepicker]="picker0" formControlName="minDate" placeholder="Data zatrudnienia (DD/MM/YYYY)" (ngModelChange)="workDaysForm.valid ? calculateWorkDaySum() : null">
          <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
          <mat-datepicker #picker0></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="33%">
          <input required formControlName="dayRange" type="number" matInput placeholder="Zakres dni wstecz" (ngModelChange)="workDaysForm.valid ? calculateWorkDaySum() : null">
        </mat-form-field>
        <mat-form-field fxFlex="33%">
          <input required formControlName="maxWorkDays" type="number" matInput placeholder="maksymalna ilość dni do wykorzystania" (ngModelChange)="workDaysForm.valid ? calculateWorkDaySum() : null">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxFill fxFlex="nogrow" fxLayout.xs="column" fxLayoutGap="20px">
    <mat-card class="scrollable-list" fxFlex="42%">
      <mat-card-subtitle><b>Okresy przepracowane:</b></mat-card-subtitle>
      <mat-card-content>
        <div formArrayName="workDates" *ngFor="let workDate of getWorkDates().controls as workDates; let i = index; last as isLast">
          <span *ngIf="workDates.length<2" style="padding-left:30px">Nie wprowadzono żadnego okresu</span>
          <mat-card-subtitle style="margin-top:10px" *ngIf="isLast" ><b>Wprowadź nowy okres zatrudnienia:</b></mat-card-subtitle>
          <mat-divider *ngIf="isLast" style="margin:20px 0px 30px 0px" [inset]="true"></mat-divider>
          <div mat-grid-list cols="3" [formGroupName]="i">
            <div fxLayout="row" fxLayoutGap="5px">
              <div fxFlex="8%">
                <button (click)="deleteRow(workDate) || calculateWorkDaySum()" color="primary" *ngIf="!isLast" mat-icon-button><mat-icon>delete</mat-icon></button>
              </div>
                <div fxFlex="46%">
                  <mat-form-field class="full-width">
                    <input required matInput [matDatepicker]="picker1" formControlName="dateFrom" (ngModelChange)="workDaysForm.valid ? (calculateWorkDaySum()) : null" placeholder="Data od (DD/MM/YYYY)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                
                <div fxFlex="46%">
                  <mat-form-field class="full-width">
                    <input required matInput [matDatepicker]="picker2" formControlName="dateTo" (ngModelChange)="workDaysForm.valid ? (((isLast) ? lastDateEntered() : null) || calculateWorkDaySum()) : null" placeholder="Data do (DD/MM/YYYY)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="scrollable-list" fxFlex="42%">
      <mat-card-subtitle><b>Suma w danym okresie:</b></mat-card-subtitle>
      <mat-card-content>
        <div formArrayName="workDates" *ngFor="let workDate of getWorkDates().controls as workDates; let i = index; last as isLast">
            <span *ngIf="workDates.length<2" style="padding-left:30px">Nie wprowadzono żadnego okresu</span>
            <div fxLayout="row" fxLayoutGap="5px">
              <mat-form-field floatLabel="always" fxFlex="50%" *ngIf="!isLast">
                <input disabled="disabled" [value]="workDaysForm.valid ? getPeriod(workDaysForm.controls.workDates.controls[i].controls.dateFrom.value, workDaysForm.controls.workDates.controls[i].controls.dateTo.value) : null" matInput placeholder="Suma dni wprowadzonych">
              </mat-form-field>
              <mat-form-field floatLabel="always" fxFlex="50%" *ngIf="!isLast">
                <input disabled="disabled" [value]="workDaysForm.valid ? getPeriodFromMin(workDaysForm.controls.workDates.controls[i].controls.dateFrom.value, workDaysForm.controls.workDates.controls[i].controls.dateTo.value) : null" matInput placeholder="Suma dni w zakresie">
              </mat-form-field>
            </div>
          </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="16%">
      <mat-card-subtitle><b>Wyniki:</b></mat-card-subtitle>
      <mat-card-content class="results">
        <mat-form-field floatLabel="always" fxLayout="row" fxLayoutGap="5px">
          <input disabled="disabled" [value]="workDaysForm.valid ? workDaySum : null" matInput placeholder="Suma dni wprowadzonych">
        </mat-form-field>
        <mat-form-field floatLabel="always" fxLayout="row" fxLayoutGap="5px">
          <input disabled="disabled" [value]="workDaysForm.valid ? fromMinDaySum : null" matInput placeholder="Suma dni w zakresie">
        </mat-form-field>
        <mat-form-field floatLabel="always" fxLayout="row" fxLayoutGap="5px">
          <input disabled="disabled" [value]="workDaysForm.valid ? daysLeft : null" matInput placeholder="Pozostałe dni">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
      <mat-card fxFlex="100%" class="about">
        <mat-card-subtitle style="float:left"><mat-icon style="vertical-align: middle">account_circle</mat-icon><b> Autor: Patryk Harańczyk</b>, patryk.haranczyk@fideltronik.com, 2018-12-14 02:15:14</mat-card-subtitle>
        <mat-card-subtitle style="float:right; padding-top: 4px;"><b><a href="https://github.com/patrykharanczyk/work-days-calculator"> Najnowsza wersja dostępna tutaj</a><mat-icon style="vertical-align: middle">get_app</mat-icon></b></mat-card-subtitle>
      </mat-card>
  </div>
</form>
  