.full-width {
  width: 100%;
}
.first-row{
  padding-bottom: 30px;
}
.work-days-form {
  padding-top:100px;
  margin-top:-85px;
  height:100%;
}
@media all and (min-width:1024px) { 
  .work-days-form  { min-width: 1200px; } 
}
.scrollable-list{
  overflow-y:auto;
}

.about{
  background-color: #5f5f5f;
}
.about *{
  color: white;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
.results *{
  font-weight: 900
}